
{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Изменение пароля</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.old_password.label }}
            {{ form.old_password(class="form-control") }}
        </div>
        <div class="field">
            {{ form.new_password1.label }}
            {{ form.new_password1(class="form-control") }}
        </div>
        <div class="field">
            {{ form.new_password2.label }}
            {{ form.new_password2(class="form-control") }}
        </div>
        <div class="actions">
            <a class="back-link" href="#" id="submit-button">Изменить пароль</a>
        </div>
    </form>
</div>

<script>
    document.getElementById('submit-button').onclick = function() {
        this.closest('form').submit();
    };
</script>

{% endblock %}

